<div>
  <input type="checkbox" data-bind="checked: model.is_company" /> Is Company
</div>
<br />
<div class="form-group" data-bind="visible: model.is_company()">
  <input class="form-control" type="text" data-bind="value: model.company_name()" />
</div>

<div data-bind="visible: !model.is_company()">
  <div class="form-group">
    <input class="form-control" type="text" data-bind="value: model.first_name" />
  </div>
  <div class="form-group">
    <input class="form-control" type="text" data-bind="value: model.last_name" />
  </div>
</div>
<div data-bind="component : { name : '_$lookup-text',
                              params : {
                                type : 'contact',
                                text : 'company_name',
                                key : model.company_name,
                                value : dy('company')
                              }
                            }">
</div>
<div data-bind="text: dy('company')().company_name"></div>
<div>
  <div>
    <input type="checkbox" data-bind="checked: model.is_vendor" /> Is Vendor </div>
  <div>
    <input type="checkbox" data-bind="checked: model.is_customer" />Is Customer</div>
</div>
<div data-bind="foreach: model.addresses()">
  <br />
  <div>Address</div>
  <div class="form-group">
    <input class="form-control" type="text" data-bind="value: address_line1" />
  </div>
  <div class="form-group">
    <input class="form-control" type="text" data-bind="value: address_line2" />
  </div>
  <div class="row">
    <div class="col-md-3 form-group">
      <input class="form-control" type="text" data-bind="value: city" />
    </div>
    <div class="col-md-4 form-group">
      <input class="form-control" type="text" data-bind="value: state" />
    </div>
    <div class="col-md-3 form-group">
      <input class="form-control" type="text" data-bind="value: zipcode" />
    </div>
    <div class="col-md-2 form-group">
      <input type="checkbox" data-bind="checked: is_primary" />IsPrimary
    </div>
  </div>
</div>
<div data-bind="foreach: model.phone_numbers()">
  <br />
  <div>Phone</div>
  <div class="form-group">
    <input class="form-control" type="text" data-bind="value: phone_number" />
  </div>
  <div class="form-group">
    <input class="form-control" type="text" data-bind="value: phone_type" />
  </div>
</div>
